body {
  background-color: yellow;
  font-family: sans-serif;
  font-size: 16pt;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 40pt;
  text-align: center;
}

p {
  font-size: 16pt;
  margin-top: 10px;
  margin-bottom: 10px;
}

.scores, .results {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 12pt;
  padding-bottom: 12pt;
}

.player-score, .dash, .computer-score, .player, .computer {
  font-size: 32pt;
  padding-left: 12pt;
  padding-right: 12pt;
}

.images {
  display: flex;
  align-content: center;
  justify-content: center;
}

.image-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width: 50%;
  height: auto;
}

.image:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.message {
  align-content: center;
  justify-content: center;
}

.player, .computer {
  display: flex;
  flex-direction: column;
}

.button-area {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.playagain {
  max-width: 200px;
  height: auto;
}

.playagain:hover {
  transform: scale(1.1);
  cursor: pointer;
}
